.profile__add-button {
    width: 150px;
    height: 50px;
    background-image: url(../../../images/Vector-add-button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.5;
}