.popup__invisible-namefield {
    margin-top: 54px;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid #000000;
    border-top: none;
    border-left: none;
    border-right: none;
}

@media screen and (max-width: 767px) {
    .popup__invisible-namefield {
        margin-top: 75px;
        
    }
}