.element__like-button {
    background-image: url(../../../images/Vector.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-size: 22px 19px;
    background-position: center;
}
.element__like-button:hover {
    opacity: 0.5;
}